.tp--radio-button
{
    display: flex !important;
}
.btn--add--record {
    display: flex;
    justify-content: space-around;
    margin-top: 58px;
    justify-items: flex-end;
}

.file-upload {
    margin-left: 30px;
}

#phd_header_div
{
    margin-top: 150px;
}
#ms_header_div
{
    margin-top: 150px;
}

hr{
    width: 100%;
    color:black;
}
label{
    /* font-size: 1.0rem !important; */
}
form{
    width:100%;
}
.buttons
{
    display: flex;
    justify-content: space-around;
}
.col--1
{
    width:17%;
}
.col--2
{
    width:45%;
}
tr{
    border-bottom: 0 !important;
}
.margin{
    margin-right: 11px !important;
}
input{
    padding-left: 5px !important;
}
